### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Build
/Build/
/save/
UnityProject/ProjectSettings/PackageManagerSettings.asset
UnityProject/ProjectSettings/ProjectVersion.txt
UnityProject/Assets/UI/Font/SourceHanSansSC-Regular SDF.asset
UnityProject/Assets/StreamingAssets/KataGo/
UnityProject/Assets/StreamingAssets/KataGo.meta
UnityProject/Assets/StreamingAssets/KataGo/**/analysis_logs/
UnityProject/Assets/StreamingAssets/KataGo/**/KataGoData/
UnityProject/Assets/StreamingAssets/KataGo/**/KataGoData.meta
KataGo/**/analysis_logs/
KataGo/**/KataGoData/
KataGo/**/KataGoData.meta
Native/KataGoBridge/build-*/
